.auth {
  width: 400px;
  height: 400px;
  border: 1px solid #ff9002;
  border-color: ;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.auth-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #015ecc;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px;
  width: 300px;
  margin: 10px 0px;
}

.auth-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-btn {
  width: 290px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #dc2c01;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.sign-up-btn {
  width: 290px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #ffc303;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.sign-in-google-btn {
  width: 290px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  width: 300px;
  height: 40px;
  font-size: 16px;
  transition: 0.3s;
}
